@model WebApplication.ServiceReferenceShopLaptop.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Default.cshtml";
}

<div class="content_right">
    <div class="header-center"> THANH TOÁN </div>
    <p style="text-align: center"> CHÚC MỪNG BẠN ĐÃ ĐẶT HÀNG THÀNH CÔNG. CHÚNG TÔI SẼ GIAO HÀNG CHO BẠN CHO BẠN TRONG VÒNG 60 PHÚT.
    CẢM ƠN BẠN ĐÃ QUAN TÂM ĐẾN CÔNG TY CHÚNG TÔI. CHÚC BẠN MỘT NGÀY MAY MẮN. </p>
    @Html.ActionLink("BẠN CÓ THỂ XEM NHIỀU SẢN PHẨM HƠN NỮA","Default","Default")
</div>
